@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Our Mission</h3>

<p>A web based application for providing the local players and cricket followers the platform 
    and services to organize events, manage the activities of their teams and maintaining the 
    statistical data of the events, players and teams.</p>
