@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>You can reach us...</h3>

<address>
    Capital University Of Science And Technology<br />
    Kahota Road<br />
    <abbr title="Phone">P:</abbr>
    +092-313-1313231
</address>

<address>
    <strong>Support:</strong> <a href="mailto:shunshata@gmail.com">shunshata@gmail.com</a><br />
    <strong>Help:</strong> <a href="mailto:criciout@gmail.com">criciout@gmail.com</a><br />
</address>
