@{
    ViewData["Title"] = "Home Page";
}


<div >
    <img style="width:100%;height:500px;" src="~/images/banner2.jpg" alt="CriciOut" class="img-responsive" />
</div>
&nbsp;&nbsp;
<div class="row">
    <h1 style="text-align:center">
        IT'S ALL ABOUT CRICKET
    </h1>
</div>
<hr />
